@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
.selector-for-some-widget {
    box-sizing: content-box;
}
